<div class="main" >
  <div class="words">
    <div class="definition">
      <mat-card class="definition-card">
      <mat-card-content>
        <p>{{ question.definition }}</p>
      </mat-card-content>
    </mat-card>
    </div>
    <mat-grid-list cols="2" rowHeight="8:2">
			<mat-grid-tile *ngFor="let word of this.question.words">
				<button
					(click)="handleClick($event)"
					mat-raised-button
					class="button"
					value="{{ word }}"
					color="{{ this.guess ? (this.question.answer === word ? 'success' : this.guess === word ? 'warn' : 'accent') : 'accent' }}"
				>
					{{ word }}
				</button>
			</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
