.main{
  align-items: center;
  display: flex;
}
.button{
  margin-right: 15px;
  margin-bottom: 15px;
  width: 249px;
}

.words{
  margin: auto;
}
.definition{
  width: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
}
.definition-card{
  background-color: #FFD740;
}
.round-card{
  width: 55px;
  height: 17px;
  float: right;
}
.round-text{
  font-weight: bold;
  text-align: center;
}
