.main {
  align-items: center;
  display: flex;
}
.button {
  margin-right: 15px;
  margin-bottom: 15px;
  width: 290px;
}

.words {
  margin: auto;
}
.definition {
  width: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
}
.definition-card {
  background-color: #ffd740;
}

/* Success styling */

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color: #155724;
}
.round-card {
  width: 80px;
  height: 55px;
  float: right;
}
.round-text {
  font-weight: bold;
  text-align: center;
}
.dialog{
  align-items: center;
  display: flex;
}
.text2{
  text-align: center;
}
