<div class="main" >
  <div class="buttons">
    <div>
      <button
              (click)="handleClick($event)"
              mat-raised-button color="warn"
              class="button">
              Alternativ 1
      </button>
      <button
              (click)="handleClick($event)"
              mat-raised-button color="warn"
              class="button">
              Alternativ 1
      </button>
    </div>
    <div>
      <button
              (click)="handleClick($event)"
              mat-raised-button color="warn"
              class="button">
              Alternativ 1
      </button>
      <button
              (click)="handleClick($event)"
              mat-raised-button color="warn"
              class="button">
              Alternativ 1
      </button>
    </div>
    <div class="defenition">
      <label> {{ words.score }} </label>
    </div>
  </div>
</div>
