.mat-toolbar-row {
  justify-content: space-between;
}

.mat-button-wrapper {
  height: 60px;
}

.mat-toolbar {
  background-color: #4527a0;
}

.mat-icon {
  color: #ffffff;
}

.menu-icon {
  color: #ffd740;
}
